@import url('https://fonts.googleapis.com/css2?family=Unkempt&display=swap');
.header{
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0px 1px 3px grey;
    z-index: 200;
    .header__wrapper{
        .main__wrapper{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 10px 0;
        }
        .header__logo{
            h2{
                a{
                    color: inherit;
                    text-decoration: none;
                }
                font-family: 'Unkempt', cursive;
                font-weight: 400;
            }
        }
        .header__cart{
            position: relative;
            a{
                text-decoration: none;
            }
            .icon{
                cursor: pointer;
                color: rgb(0, 35, 63);
            }
            .item__in__basket{
                position: absolute;
                top: -5px;
                left: -15px;
                background: rgb(16, 113, 223);
                color: #fff;
                padding: 2px 7px;
                border-radius: 50%;
                font-size: 14px;
            }
        }

        .header__small__nav{
            .icon{
                font-size: 28px;
            }
        }
    }
    .show__nav{
        display: block !important;
    }

    .search{
        form{
            width: 100%;
            margin: 0 auto;
            .input__field{
                display: flex;
                align-items: center;
                border: 1px solid #ada8a8;
                padding: 5px 10px;
                background-color: rgb(240, 240, 240);
                input{
                    background-color: rgb(240, 240, 240);
                    font-size: 16px;
                    border: none;
                    outline: none;
                    width: 100%;
                    margin: auto;
                }
            }
            .search__btn{
                margin-top: 10px;
                button{
                    width: 100%;
                    background-color:#07AE72 ;
                    color: #fff;
                }
            }
        }
    }
    .header__nav__container{
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        background-color: #f1f1f1;
        width: 100%;
        height: 100vh;
        box-shadow: 0px 3px 7px grey;
        animation: show 0.6s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
        .header__nav{
            ul{
                margin: 0;
                padding:0px;
                li{
                    list-style: none;
                    border-bottom: 1px solid rgba(243, 91, 91, 0.4);
                    margin-top: 30px;
                    line-height: 1.7em;
                    cursor: pointer;
                }
                span{
                    font-size: 18px;
                    color: #363636;
                    padding-left: 15px;
                    text-transform: capitalize;
                }
                a{
                    color: inherit;
                    text-decoration: none;
                }
            }
        }
        .show__search{
            display: block !important;
        }
        .nav__search{
            display: none;
            margin-top: 120px;
            form{
                width: 95%;
                margin: auto;
                .input__field{
                    display: flex;
                    align-items: center;
                    border: 1px solid rgb(19, 18, 18);
                    padding: 7px 10px;
                    input{
                        font-size: 16px;
                        border: none;
                        outline: none;
                        width: 100%;
                        margin: auto;
                        background-color: inherit;
                    }
                }
                .search__btn{
                    margin-top: 10px;
                    button{
                        width: 100%;
                        background-color:#07AE72 ;
                        color: #fff;
                    }
                }
            }
        }
        .icon__wrapper{
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: absolute;
            bottom: 0;
            right: 0;
            width: 100%;
            padding: 0 0px 0 20px;

            .close__div{
                background-color: rgb(243, 91, 91);
                display: flex;
                align-items: center;
                padding: 10px;
                cursor: pointer;
                .icon{
                    color: #fff;
                }
                span{
                    color: #fff;
                }
            }
            .icon__div{
                svg{
                    font-size: 32px;
                }
            }
        }
    }
    @keyframes show {
        from {
          transform: scale(0);
          opacity: 0;
          z-index: -1;
        }
        to {
          transform: scale(1);
          opacity: 1;
          z-index: 2;
        }
      }
}


// Media query
@media screen and (min-width:760px){
    .header{
        position: relative;
        box-shadow: none;
        .header__wrapper{
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            .main__wrapper{
                width: 80%;
            }
            .search{
                width: 20%;
                form{
                    .input__field{
                        width: 100%;
                        padding: 10px;
                    }
                }
            }
            .header__small__nav{
                display: none;
            }
        }
        .header__nav__container{
            display: block;
            background-color: inherit;
            height: auto;
            box-shadow: none;
            position: relative;
            padding: 5px 0;
            border: 1px solid #eddede;
            .header__nav{
                ul{
                    display:flex;
                    justify-content: space-evenly;
                    align-items: center;
                    li{
                        margin: 0;
                        border: none;
                    }
                    span{
                        font-size: 14px;
                    }
                }
                .nav__search{
                    display: none;
                }
                .icon__wrapper{
                    display: none;
                }
            }
        }

    }
}

@media screen and (min-width:1160px){
    .header{
        .header__nav__container{
            .header__nav{
                max-width: 75%;
                margin: 0 auto;
            }
        }
    }
}