.landing{
    .title{
        h3{
            text-align: center;
            text-transform: capitalize;
            color: rgb(82, 82, 82);
        }
    }
    .showCase{
        // background: linear-gradient(180deg, #00485F 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), rgba(138, 167, 180, 0.8);
        background: url("https://img.lovepik.com/photo/40012/1857.jpg_wh860.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding: 15px 20px 0;
        position: relative;
        z-index: -2;
        .overlay{
            position: absolute;
            top: 0;
            left: 0;
            background: linear-gradient(180deg, #000000 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, #141313 0%, rgba(255, 255, 255, 0) 100%), rgba(138, 167, 180, 0.8);
            width: 100%;
            height: 100%;
            z-index: -1;
            opacity: 0.2;
        }
        .title{
            z-index: 100;
            padding: 0 10px;
            margin: 10px 0;
            p{
                z-index: 100;
                color: rgb(233, 233, 233);
                text-align: center;
                font-weight: 900;
                line-height: 1.2em;
                letter-spacing: 0.5px;
            }
        }
        .img{
            display:flex ;
            justify-content: center;
            align-items: center;
            img{
                width: auto;
                height: auto;
                object-fit: cover;
            }
        }
    }
    .welcome__msg{
        text-align: center;
        margin-top: 20px;
        padding: 0 10px;
        h2{
            font-weight: 600;
        }
        p{
            margin-top: 10px;
            color: #042C52;
        }
    }
    .top__collection{
        margin-top: 50px;
        .wrapper{
            width: 90%;
            margin: auto;
            .product{
                margin: 30px 0 0;
                box-shadow: 0px 3px 7px rgb(197, 197, 197);
                padding: 10px;
                .img{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                img{
                    max-width: 200px;
                    height: 200px;
                }
                h3{
                    font-size: 18px;
                    margin-top: 10px;
                    color: rgb(29, 28, 28);
                    font-weight: 600;
                    text-align: center;
                    border: 1px solid rgb(204, 204, 204);
                    padding: 5px 0;
                    cursor: pointer;
                }
            }
        }
    }

    .featured__products{
        margin-top: 70px;
        .wrapper{
            display: flex;
            align-items: center;
            overflow-y: scroll;
            width: 95%;
            margin: 10px auto;
            .product{
                margin-top: 10px;
                margin-left: 20px;
                width: 100%;
                img{
                    max-width: 160px;
                    height: 160px;
                }
                h3{
                    font-size: 16px;
                    margin-top: 10px;
                    color: rgb(29, 28, 28);
                    font-weight: 400;
                    text-align: center;
                    border: 1px solid rgb(204, 204, 204);
                    padding: 5px;
                    cursor: pointer;
                }
            }
        }
    }
    .delivery__info{
        margin: 70px 0 30px;
        box-shadow: 0px 1px 3px grey;
        padding: 10px;
        .body{
            display: flex;
            align-items: flex-start;
            margin: 20px 0;
            padding: 10px;
            .icon__div{
                border: 1px solid rgb(100, 100, 100);
                padding: 10px;
                border-radius: 360px;
            }
            h3{
                font-weight: 400;
                padding-left: 20px;
                color: #000000;
            }
            .icon{
                color: rgb(65, 65, 65);
            }
        }
    }
}

//Media Queries
@media screen and (min-width:860px){
    .landing{
        .delivery__info{
            .body{
                max-width: 85%;
                margin: 20px auto;
            }
        }
    }
}