.landing{
    .landing__container{
        
        //Showcase
        .showcase{
            .img{
                width: 100%;
                .second__img{display: none;}
                img{
                    width: 100%;
                    height: auto;
                    object-fit: cover;
                }
            }
            .content{
                padding: 10px;
                h2{
                    font-weight: 500;
                }
                p{
                    margin: 10px 0;
                    line-height: 1.2em;
                    color: rgb(78, 78, 78);
                    word-wrap: break-word;
                    word-break: break-all;
                }
                button{
                    background-color: #07AE72;
                    color: #fff;
                    width: 50%;
                    cursor: pointer;
                }
            }

        }

        //Main__Sellers
        .main__sellers{
            margin: 20px 0 50px;
            .product__container{
                .content{
                    .img{
                        width: 100%;
                        background: radial-gradient(ellipse at bottom,#f2f8f1 0,#fdfdf6 100%);
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 20px 0;
                        img{
                            max-width: 240px;
                            height: 240px;
                        }
                    }
                    .body{
                        margin: 20px 10px;
                        h3{
                            font-weight: 500;
                            font-style: italic;
                        }
                        p{
                            margin: 5px 0 10px;
                            line-height: 1.5em;
                        }
                        button{
                            border:1px solid coral;
                            width: 50%;
                            cursor: pointer;
                        }
                    }
                }
            }

        }

        //Featured__products
        .featured__products{
            position: relative;
            max-width: 100%;
            height: 450px;
            margin: 20px auto;
            overflow-x: scroll;
            scroll-behavior: smooth;
            &::-webkit-scrollbar {
                width: 10px;
                box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
                border-radius: 12px;
              }
              &::-webkit-scrollbar-track {
                box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
              }
              &::-webkit-scrollbar-thumb {
                border-radius: 7px;
                background-color: rgb(123, 154, 179);
              }
            .product__container{
                display: flex;
                justify-content: space-between;
                position: absolute;
                top: 0;
                left: 0;
                .content{
                    min-width: 260px;
                    flex: 1 1;
                    margin: 0 10px;
                    .img{
                        width: 100%;
                        background: radial-gradient(ellipse at bottom,#f2f8f1 0,#fdfdf6 100%);
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 20px 0;
                        img{
                            max-width: 160px;
                            height: 160px;
                        }
                    }
                    .body{
                        margin: 20px 10px;
                        text-align: center;
                        h3{
                            font-weight: 500;
                            font-style: italic;
                        }
                        p{
                            margin: 5px 0 10px;
                            line-height: 1.5em;
                        }
                        button{
                            border:1px solid coral;
                            width: 50%;
                            cursor: pointer;
                        }
                    }
                }
            }
        }

        //Delivery__info
        .delivery__info{
            margin: 70px 0 30px;
            box-shadow: 0px 1px 3px grey;
            padding: 10px;
            .title{
                text-align: center;
            }
            .body{
                display: flex;
                align-items: flex-start;
                margin: 20px 0;
                padding: 10px;
                .icon__div{
                    border: 1px solid rgb(100, 100, 100);
                    padding: 10px;
                    border-radius: 360px;
                }
                h3{
                    font-weight: 400;
                    padding-left: 20px;
                    color: #000000;
                }
                .icon{
                    color: rgb(65, 65, 65);
                }
            }
        }
    }
}

//Media Queries
@media screen and (min-width:760px){
    .landing{
        .landing__container{
            .showcase{
                position: relative;
                .img{
                    .first__img{
                        display: none;
                    }
                    .second__img{
                        display: inline-block;
                    }
                }
                .content{
                    max-width: 70%;
                    @media screen and (min-width:960px){
                        position: absolute;
                        top: 16%;
                        left: 34%;
                        width: 32%;
                        p{
                            width: 72%;
                        }
                    }
                }
            }
            .main__sellers{
                .product__container{
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                    .content{
                        margin: 0 20px;
                        float: 1 1;
                        text-align: center;
                        .img{
                            img{
                                width: 220px;
                                height: 320px;
                            }
                        }
                    }
                }
            }
            .featured__products{
                height: 520px;
                .product__container{
                    .content{
                        min-width: 360px;
                        .img{
                            img{
                                max-width: 240px;
                                height: 240px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width:960px){
    .showcase{
        .img{
            .content{
                position: absolute;
                top: 16%;
                left: 34%;
                width: 32%;
                p{
                    width: 72%;
                }
            }
        }
    }
    .delivery__info{
        .delivery__container{
            display: grid;
            grid-template-columns: repeat(2,1fr);
        }
    }
}
@media screen and (min-width:1060px){
    .landing{
        .landing__container{
            .featured__products{
                width: 90%;
                margin: 0 auto;
                .product__container{
                    margin: 0 auto;
                    .content{
                        min-width: 400px;
                    }
                }
            }
        }
    }
}

@media screen and (min-width:1360px){
    .delivery__info{
        .delivery__container{
            grid-template-columns: repeat(3,1fr);
            width: 75%;
            margin: 0 auto;
        }
    }
}