.product__pages{
    .product__banner{
        width: 100%;
        img{
            width: 100%;
            object-fit: cover;
            height:auto;
        }
    }

    .current__link{
        margin-top: 20px;
        padding-left: 10px;
        span{
            text-transform: capitalize;
        }
    }

    .product__filter{
        margin: 20px 0 30px;
        display: flex;
        button{
            text-align: center;
            font-size: 16px;
            border: 1px solid rgba(168, 168, 168, 0.6);
            box-shadow: 0px 1px 1px grey;
            padding: 10px 20px;
            margin-left: 10px;
            cursor: pointer;
        }
    }
    .products__container{
        width: 100%;
        .products{
            width: 95%;
            margin: 0px auto;
            box-shadow: 0px 2px 7px grey;
            padding: 10px 10px 20px;
            border-radius: 7px;
            transform: scale(0.9);
            .icon__div{
                display: flex;
                justify-content: flex-end;
                align-items: center;
                .icon{
                    max-width: fit-content;
                    color: rgba(51, 51, 51, 0.7);
                    cursor: pointer;
                }
            }
            .img{
                display: flex;
                justify-content: center;
                align-items: center;
                img{
                    max-width: 130px;
                    height: 130px;
                }
            }

            .product__body{
                padding-left: 20px;
                margin: 20px 0 0 ;
                cursor: pointer;
                span{
                    color: rgb(65, 65, 65);
                }
                h3{
                    font-weight: 600;
                    margin: 10px 0;
                }
                p{
                    color: rgb(97, 97, 97);
                }
            }
            .product__size{
                width: 95%;
                margin: 20px auto 0;
                select{
                    width: 100%;
                    height: 40px;
                    font-size: 16px;
                    padding: 0 10px;
                }
                .bg_color{
                    outline:1px solid rgb(252, 34, 34);
                    border: none;
                }
            }
            .add__to__basket{
                width: 100%;
                margin-top: 20px;
                button{
                    width: 100%;
                    background-color: #07AE72;
                    color: rgb(255, 255, 255);
                }
            }
        }
    }
}

// Media Queries
@media screen and (min-width:560px){
    .product__pages{
        .product__banner{
            img{
                width: 100%;
                object-fit: cover;
                height: 140px;
            }
        }
        .products__container{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: auto;
            grid-gap: 20px 0;
        }
}
}
@media screen and (min-width:860px){
    .product__pages{
        .product__banner{
            img{
                height: 180px;
            }
        }
        .products__container{
            grid-template-columns: repeat(3, 1fr);
        }
    }
}
@media screen and (min-width:1260px){
    .product__pages{
        .product__banner{
            img{
                height: 240px;
            }
        }
        .products__container{
            grid-template-columns: repeat(4, 1fr);
        }
    }
}