.product__pages .product__banner {
  width: 100%;
}

.product__pages .product__banner img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: auto;
}

.product__pages .current__link {
  margin-top: 20px;
  padding-left: 10px;
}

.product__pages .current__link span {
  text-transform: capitalize;
}

.product__pages .product__filter {
  margin: 20px 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product__pages .product__filter button {
  text-align: center;
  font-size: 16px;
  border: 1px solid rgba(168, 168, 168, 0.6);
  -webkit-box-shadow: 0px 1px 1px grey;
          box-shadow: 0px 1px 1px grey;
  padding: 10px 20px;
  margin-left: 10px;
  cursor: pointer;
}

.product__pages .products__container {
  width: 100%;
}

.product__pages .products__container .products {
  width: 95%;
  margin: 0px auto;
  -webkit-box-shadow: 0px 2px 7px grey;
          box-shadow: 0px 2px 7px grey;
  padding: 10px 10px 20px;
  border-radius: 7px;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.product__pages .products__container .products .icon__div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product__pages .products__container .products .icon__div .icon {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  color: rgba(51, 51, 51, 0.7);
  cursor: pointer;
}

.product__pages .products__container .products .img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product__pages .products__container .products .img img {
  max-width: 130px;
  height: 130px;
}

.product__pages .products__container .products .product__body {
  padding-left: 20px;
  margin: 20px 0 0;
  cursor: pointer;
}

.product__pages .products__container .products .product__body span {
  color: #414141;
}

.product__pages .products__container .products .product__body h3 {
  font-weight: 600;
  margin: 10px 0;
}

.product__pages .products__container .products .product__body p {
  color: #616161;
}

.product__pages .products__container .products .product__size {
  width: 95%;
  margin: 20px auto 0;
}

.product__pages .products__container .products .product__size select {
  width: 100%;
  height: 40px;
  font-size: 16px;
  padding: 0 10px;
}

.product__pages .products__container .products .product__size .bg_color {
  outline: 1px solid #fc2222;
  border: none;
}

.product__pages .products__container .products .add__to__basket {
  width: 100%;
  margin-top: 20px;
}

.product__pages .products__container .products .add__to__basket button {
  width: 100%;
  background-color: #07AE72;
  color: white;
}

@media screen and (min-width: 560px) {
  .product__pages .product__banner img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    height: 140px;
  }
  .product__pages .products__container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    grid-gap: 20px 0;
  }
}

@media screen and (min-width: 860px) {
  .product__pages .product__banner img {
    height: 180px;
  }
  .product__pages .products__container {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1260px) {
  .product__pages .product__banner img {
    height: 240px;
  }
  .product__pages .products__container {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}
/*# sourceMappingURL=Product.css.map */